<section id="hero-banner" class="hero-banner">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h1>Book on the app<br/>
                and <strong>save 10%!</strong>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">

            </div>
        </div>
    </div>
</section>